@import '../config/color.scss';


.lists_wrap {
    max-width: 2000px;
    // transform: translate(0px, -100px);

    @media (max-width: 600px) {
        transform: translate(0px, -50px);
    }
}

.card_wrap {
    max-width: 2000px;
    width: '100%';
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.lists_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 600px) {
        padding: 0 10px;
    }
}

.load_more {
    color: $color_10;
    font-weight: normal;
    font-size: 1.3rem;
    padding-left: 50px;
    padding-top: 10px;
    cursor: default;
}

.load_more:hover {
    color: $color_9;
}