@import '../config/color.scss';

.menu_item {
    width: 120px;
    font-size: 1.2rem;
    display: flex;
    p {
        width: 100%;
        text-align:right;
        color: $color_10;
        cursor: default;
    }

    p:hover {
        color: $color_9;
    }

    p:active {
        color: $color_7;
    }

    @media (max-width: 1000px) {
        width: 100%;
        padding: 5px;
        font-size: 1rem;
        p {
            text-align:center;
        }
    }
}