@import '../config/color.scss';

.search-bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.search-input {
    width: 300px;
    padding: 8px;
    border: none;
    border-bottom: solid 2px $color_9;
    background-color: $color_1;
    color: $color_10;
    font-size: 1rem;

    @media (max-width: 600px) {
        display: none;
    }

}

input[type=search]:focus{
    border: none;
    background-color: $color_1;
    border-bottom: solid 2px $color_9;
    outline: none;
    color: $color_10;
}

.search-icon {
    padding: 8px;
}